<template>
  <div class="loading-icon-container">
    <v-icon :scale="scale" name="spinner" spin/>
  </div>
</template>

<script>
export default {
  name: 'LoadingIcon',
  props: {
    scale: {
      type: Number,
      default: 1
    }
  }
}
</script>

<style lang="scss" scoped>
.loading-icon-container {
  // ..
}
</style>
