<template>
  <div id="main-loading">
    <LoadingIcon :scale="5"/>
  </div>
</template>

<script>
export default {
  name: 'MainLoading',
  props: {
    // ..
  }
}
</script>

<style lang="scss" scoped>
#main-loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .loading-icon-container {
    position: absolute;
    // To center vertically
    margin-top: 50vh;
    transform: translateY(-50%);
    // To center horizontally
    left: 50vw;
    margin-left: -40px;
  }
}
</style>
