<template>
  <Modal
    :v-model="vModel"
    id="error-modal"
    :title="$t('global.error') | capitalize"
    :okTitle="$t('global.close') | capitalize"
    :ok="ok"
  >
    <p>{{ system.errorMessage }}</p>
  </Modal>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'ErrorModal',
  props: {
    // V-Model: to show the modal
    vModel: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState([
      'system'
    ])
  },
  methods: {
    ...mapActions([
      'clearSystemError'
    ]),
    ok: function () {
      this.clearSystemError()
    }
  }
}
</script>
