<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    :width="width"
    :height="width"
    role="presentation"
    :style="`background-color: ${GLOBALS.__THEME_LIGHT_COLOR__};`"
  >
    <title
      id="anonymous-user"
      lang="en"
    >Anonymous user</title><!-- eslint-disable-line -->
    <!-- User 'head' -->
    <circle cx="250" cy="190" r="110" :stroke="GLOBALS.__THEME_PRIMARY_COLOR__" stroke-width="20" fill="transparent"/>
    <!-- User 'body' -->
    <circle cx="250" cy="500" r="200" :stroke="GLOBALS.__THEME_PRIMARY_COLOR__" stroke-width="20" fill="transparent"/>
  </svg>
</template>

<script>
export default {
  name: 'AnonymousThumbnail',
  props: {
    // Width
    width: {
      type: Number,
      default: 250
    }
  }
}
</script>

<style lang="scss" scoped>
#thumbnail-container {
  overflow: hidden;
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
