<template>
  <div id="thumbnail-container" :style="`width: ${width}px; height: auto;`">
    <AnonymousThumbnail v-if="user.thumbnail === 'anonymous'" :width="width"/>
    <img v-else :src="thumbnailUrl"/>
  </div>
</template>

<script>
import AnonymousThumbnail from '@/components/user/AnonymousThumbnail'

import CONFIG from '@/config/config.js'
import User from '@/models/User'

export default {
  name: 'UserThumbnail',
  components: {
    AnonymousThumbnail
  },
  props: {
    // User: instance of User
    user: {
      type: User // User model class
    },
    // Width
    width: {
      type: Number,
      default: 250
    }
  },
  computed: {
    thumbnailUrl: function () {
      let serverAddr = ''
      // Check if development mode and if dev url is defined
      if (process.env.NODE_ENV === 'development') {
        if (CONFIG.DEVELOPMENT.API.ServerAPI) {
          serverAddr = CONFIG.DEVELOPMENT.API.ServerAPI.URL
        }
      }
      return serverAddr + '/storage/thumbnails/' + this.user.thumbnail
    }
  }
}
</script>

<style lang="scss" scoped>
#thumbnail-container {
  overflow: hidden;
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
