<template>
  <b-container class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.ResetPassword.title') | capitalize }}</h1>
    </b-row>
    <b-row class="justify-content-center pb-5">
      <b-form v-if="!emailSent">
        <!-- email input -->
        <b-form-group
            id="input-group-email"
            label="Adresse mail"
            label-for="create-user-email"
        >
          <b-form-input
            v-model="email"
            id="create-user-email"
            type="email"
            required
            :state="emailState"
            class="mb-2"
          />
        </b-form-group>
        <custom-button variant="secondary" @click.native="handleOk" :disabled="!isValid">{{ $t('global.confirm') | capitalize }}</custom-button>
      </b-form>
      <p v-else><v-icon name="check"/> {{ $t('user.resetPasswordEmailSent') }}</p>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
/**
 * ForgotPassword component
 */
export default {
  name: 'ForgotPassword',
  data () {
    return {
      email: null,
      emailSent: false
    }
  },
  computed: {
    /**
     * emailState
     * @return {boolean}
     */
    emailState: function () {
      if (this.email && this.email.length > 0) {
        // eslint-disable-next-line
        const re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        return re.test(this.email)
      } else {
        return false
      }
    },
    isValid: function () {
      return this.emailState
    }
  },
  methods: {
    ...mapActions('Users', [
      'forgotPassword'
    ]),
    /**
     * Handle click on 'confirm' submit button.
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      await this.forgotPassword({
        email: this.email
      })
      // Do nothing with server response here: server side action
      this.emailSent = true
      return true
    }
  }
}
</script>
