<template>
  <div>
    <transition
      mode="out-in"
      enter-active-class="animated fadeIn fast"
      leave-active-class="animated fadeOut fast"
    >
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'ResetPassword'
}
</script>
