<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.ResetPassword.title') | capitalize }}</h1>
    </b-row>
    <b-row class="justify-content-center pb-5">
      <b-form>

        <!-- email input -->
        <b-form-group
            id="input-group-email"
            :label="$h.capitalize($t('user.email'))"
            label-for="reset-password-email"
        >
          <b-form-input
            v-model="email"
            id="reset-password-email"
            type="email"
            required
            :state="emailState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Password input -->
        <b-form-group
            id="input-group-password"
            :label="$h.capitalize($t('user.password'))"
            label-for="reset-password-password"
            description="Le mot de passe doit avoir une longueur d'au moins 6 caractères et comporter au minimum: 1 lettre majuscule, 1 lettre minuscule et 1 chiffre."
        >
          <b-form-input
            v-model="password"
            id="reset-password-password"
            type="password"
            :state="passwordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Confirm password input -->
        <b-form-group
            id="input-group-confirm-password"
            :label="`${$h.capitalize($t('user.password'))} (${$t('global.confirm')})`"
            label-for="reset-password-password-confirm"
        >
          <b-form-input
            v-model="confirmPassword"
            id="reset-password-password-confirm"
            type="password"
            :state="confirmPasswordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Confirm button -->
        <custom-button variant="secondary" @click.native="handleOk" :disabled="!isValid">{{ $t('global.confirm') | capitalize }}</custom-button>

      </b-form>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
/**
 * ResetForm component
 */
export default {
  name: 'ResetForm',
  data () {
    return {
      token: null,
      email: null,
      password: null,
      confirmPassword: null
    }
  },
  computed: {
    /**
     * emailState
     * Nullable
     * @return {boolean|null}
     */
    emailState: function () {
      if (this.email === null || this.email.length === 0) {
        return null
      } else if (this.email && this.email.length > 0) {
        // eslint-disable-next-line
        const re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        return re.test(this.email)
      } else {
        return false
      }
    },
    /**
     * passwordState
     * @return {boolean}
     */
    passwordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.password)
    },
    /**
     * confirmPasswordState
     * @return {boolean}
     */
    confirmPasswordState: function () {
      return this.passwordState && this.password === this.confirmPassword
    },
    isValid: function () {
      return this.emailState && // required
        this.passwordState && // required
        this.confirmPasswordState // required
    }
  },
  methods: {
    ...mapActions('Users', [
      'resetPassword'
    ]),
    /**
     * Handle click on 'confirm' submit button.
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      // Prevent click
      evt.preventDefault()
      // Request for reset
      const response = await this.resetPassword({
        token: this.token,
        email: this.email,
        password: this.password,
        password_confirmation: this.confirmPassword
      })
      if (response) {
        // Redirect to login page
        this.$router.push('/login')
      } else {
        // TO DOOOOO
        // ..
        this.showLoginFailedMessage = true
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    // does NOT have access to `this` component instance
    if (to.params.token && to.params.token.length > 0) {
      next()
    } else {
      next({ name: '404' })
    }
  },
  beforeRouteUpdate (to, from, next) {
    // has access to `this` component instance.
    if (to.params.token && to.params.token.length > 0) {
      this.token = to.params.token
      next()
    } else {
      next({ name: '404' })
    }
  },
  mounted () {
    this.token = this.$route.params.token
  }
}
</script>
