<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.About.subTitle') | capitalize }}</h1>
    </b-row>
    <!-- Content -->
    <b-row class="justify-content-center">
      <b-col>
      </b-col>
    </b-row>
  </b-container>
</template>
