<template>
  <b-container fluid class="py-5">
    <b-row class="justify-content-center mb-5">
      <b-col cols=6>
        <b-form style="width: 100%;" @submit.stop.prevent>
          <!-- Username -->
          <b-form-input
            v-model="address"
            type="text"
            required
            placeholder="Adresse"
            class="mb-3"
          />
          <!-- Confirm button -->
          <custom-button variant="secondary" @click.native="handleOk">Chercher</custom-button><!-- eslint-disable-line -->
        </b-form>
      </b-col>
    </b-row>
    <b-row class="justify-content-center">
      <!-- eslint-disable -->
      <b-col cols=6>
        <p>Nominatim API résultats:</p><!-- eslint-disable-line -->
        <ul class="list-unstyled">
          <li v-for="result in results" :key="result.id" class="bg-tertiary p-3 mb-3">
            <p><strong>Requête:</strong> {{ result.query }}</p>
            <p>
              <strong>Réponse:</strong>
              <br/>
              <div v-if="result.response">
                <em>Nom:</em> {{ result.response.display_name }}
                <br/>
                <em>Latitude:</em> {{ result.response.lat }}
                <br/>
                <em>Longitude:</em> {{ result.response.lon }}
                <br/>
                <em>Chaîne formattée pour Généanet:</em>
                <textarea rows=1 style="width: 100%; resize: none;">{{ `#GPS={ "lat": ${result.response.lat}, "lon": ${result.response.lon} }` }}</textarea>
              </div>
              <div v-else>
                <p style="color: red;">Aucun résultat trouvé</p>
              </div>
            </p>
          </li>
        </ul>
      </b-col>
      <!-- eslint-enable -->
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
// APIManager
import APIManager from '#services/api-manager/index'

// Define server API
const NominatimAPI = APIManager.use('NominatimAPI')

export default {
  name: 'Home',
  data () {
    return {
      address: '',
      results: []
    }
  },
  methods: {
    ...mapActions([
      'throwSystemError'
    ]),
    handleOk: async function (evt) {
      // evt.preventDefault()
      this.$store.commit('SET_SYSTEM_SHOWMAINLOADING', true)
      const nominatimResponse = await NominatimAPI.request('GET', `/search.php?q=${this.address}&format=jsonv2`)
      this.$store.commit('SET_SYSTEM_SHOWMAINLOADING', false)
      if (!(nominatimResponse instanceof Error)) {
        if (nominatimResponse.data[0]) {
          this.results.unshift({
            id: this.results.length + 1,
            query: this.address,
            response: nominatimResponse.data[0]
          })
        } else {
          this.results.unshift({
            id: this.results.length + 1,
            query: this.address,
            response: null
          })
        }
      }
    }
  }
}
</script>
