<template>
  <b-container fluid class="py-5">
    <b-row class="justify-content-center">
      <img alt="App logo" src="../assets/img/logo.png" id="login-logo">
    </b-row>
    <b-row class="justify-content-center pt-2 pb-4">
      <h1 class="font-patron">{{ GLOBALS.__APP_NAME__ }}</h1>
    </b-row>
    <b-row v-if="showNeedAuthMessage" class="justify-content-center pb-5">
      <p class="text-warning">{{ $t('global.pageRequiresAuth') | capitalize }}</p>
    </b-row>
    <b-row v-if="showLoginFailedMessage" class="justify-content-center pb-2">
      <p class="text-error">{{ $t('errors.e0020') | capitalize }}</p>
    </b-row>
    <b-row class="justify-content-center pb-5">
      <b-form id="login-form">
        <!-- Username -->
        <b-form-input
          v-model="username"
          type="text"
          required
          :placeholder="$h.capitalize($t('user.username'))"
          :state="showLoginFailedMessage ? false : null"
        />
        <!-- Password -->
        <b-form-input
          v-model="password"
          type="password"
          required
          :placeholder="$h.capitalize($t('user.password'))"
          :state="showLoginFailedMessage ? false : null"
        />
        <!-- Confirm button -->
        <custom-button variant="secondary" @click.native="handleOk" :disabled="!isValid">{{ $t('user.login') | capitalize }}</custom-button>

        <!-- Forgot password -->
        <p align="center"><router-link to="/forgot-password">{{ $t('user.forgotPassword') }}</router-link></p>
      </b-form>
    </b-row>
  </b-container>
</template>

<script>
/**
 * Login component
 */
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      showLoginFailedMessage: false
    }
  },
  computed: {
    showNeedAuthMessage: function () {
      // If the query param 'redirect' is set, user comes from location that needs auth
      return Boolean(this.$route.query.redirect)
    },
    isValid: function () {
      return this.username.length > 0 && this.password.length > 0
    }
  },
  methods: {
    /**
     * Handle click on 'login' submit button.
     *
     * Call 'auth' module login method ([auth module](../modules/auth)).
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      // Prevent click
      evt.preventDefault()
      // Wait for login function
      const loginResponse = await this.$root.auth.login({
        username: this.username,
        password: this.password
      })
      if (loginResponse) {
        // Redirect to 'redirect' query param if exists, if not -> go home '/'
        this.$router.push(this.$route.query.redirect || '/')
      } else {
        this.showLoginFailedMessage = true
      }
    }
  }
}
</script>

<style lang="scss">
#login-logo {
  width: 260px;
  height: auto;
  animation: 12000ms linear infinite rolling;
}

#login-form {
  width: 320px;

  input,
  button {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }
}
</style>
