<template>
  <b-container fluid class="py-4">
    <b-row class="justify-content-center pb-5">
      <h1>404 :(</h1><!-- eslint-disable-line -->
    </b-row>
    <b-row class="justify-content-center pb-5">
      <h2>{{ $t('global.pageNotFound') | capitalize }}</h2>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>
