<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.Settings.title') | capitalize }}</h1>
    </b-row>
    <!-- Content -->
    <b-row class="justify-content-center">
      <b-col cols=6 class="pb-4">

        <p>{{ collapseStatus('collapse-interface') }}</p>
        <b-button v-b-toggle.collapse-interface variant="primary" :class="collapseStatus('collapse-interface')">interface</b-button><!-- eslint-disable-line -->

        <b-collapse id="collapse-interface" class="mt-2" ref="collapse-interface">
          <p>coucodrfghdfgdfu</p><!-- eslint-disable-line -->
        </b-collapse>

      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Settings',
  data () {
    return {
      isoFlagMap: {
        fr: 'fr',
        en: 'us'
      }
    }
  },
  methods: {
    collapseStatus (ref) {
      console.log('on est dans la fct: ')
      console.log(this.$refs[ref])
      return this.$refs[ref] ? this.$refs[ref].show : false
    }
  }
}
</script>
