<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.Settings.title') | capitalize }}</h1>
    </b-row>
    <!-- Content -->
    <b-row class="justify-content-center">
      <b-col cols=6 class="pb-4">

        <!-- Interface -->
        <CustomCollapse :title="$h.capitalize($t('global.interface'))">
          <ul class="list-unstyled pt-3 mb-5">
            <li>
              {{ $t('global.lang') | capitalize }}:
              <b-dropdown id="dropdown-lang" variant="tertiary">
                <!-- Using 'button-content' slot -->
                <template slot="button-content">
                  <flag :iso="isoFlagMap[$i18n.locale]" v-bind:squared=false /> {{ $i18n.locale | uppercase }}
                </template>
                <b-dropdown-item @click="$i18n.locale = 'en'"><flag iso="us" v-bind:squared=false /> English</b-dropdown-item>
                <b-dropdown-item @click="$i18n.locale = 'fr'"><flag iso="fr" v-bind:squared=false /> Français</b-dropdown-item>
              </b-dropdown>
            </li>
          </ul>
        </CustomCollapse>

        <!-- User -->
        <CustomCollapse :title="$h.capitalize($t('user.user.singular'))">
          <ul class="list-unstyled pt-3 mb-5">
            <li>
              <router-link to="/update-password">{{ $t('user.updatePassword') | capitalize }}</router-link>
            </li>
          </ul>
        </CustomCollapse>

      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Settings',
  data () {
    return {
      isoFlagMap: {
        fr: 'fr',
        en: 'us'
      }
    }
  }
}
</script>
