<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('user.updatePassword') | capitalize }}</h1>
    </b-row>
    <b-row class="justify-content-center pb-5">
      <b-form>

        <!-- Password input -->
        <b-form-group
            id="input-group-password"
            :label="$h.capitalize($t('user.password'))"
            label-for="reset-password-password"
            description="Le mot de passe doit avoir une longueur d'au moins 6 caractères et comporter au minimum: 1 lettre majuscule, 1 lettre minuscule et 1 chiffre."
        >
          <b-form-input
            v-model="password"
            id="reset-password-password"
            type="password"
            :state="passwordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Confirm password input -->
        <b-form-group
            id="input-group-confirm-password"
            :label="`${$h.capitalize($t('user.password'))} (${$t('global.confirm')})`"
            label-for="reset-password-password-confirm"
        >
          <b-form-input
            v-model="confirmPassword"
            id="reset-password-password-confirm"
            type="password"
            :state="confirmPasswordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Confirm button -->
        <custom-button variant="secondary" @click.native="handleOk" :disabled="!isValid">{{ $t('global.confirm') | capitalize }}</custom-button>

      </b-form>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
/**
 * UpdatePassword component
 */
export default {
  name: 'UpdatePassword',
  data () {
    return {
      email: null,
      password: null,
      confirmPassword: null
    }
  },
  computed: {
    /**
     * passwordState
     * @return {boolean}
     */
    passwordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.password)
    },
    /**
     * confirmPasswordState
     * @return {boolean}
     */
    confirmPasswordState: function () {
      return this.passwordState && this.password === this.confirmPassword
    },
    isValid: function () {
      return this.passwordState && // required
        this.confirmPasswordState // required
    }
  },
  methods: {
    ...mapActions('Users', [
      'updateUserPassword'
    ]),
    /**
     * Handle click on 'confirm' submit button.
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      // Prevent click
      evt.preventDefault()
      // Request for change password
      await this.updateUserPassword({
        userId: this.$root.auth.user().id,
        data: {
          password: this.password,
          password_confirmation: this.confirmPassword
        }
      })
      // Redirect to login page
      this.$router.push('/settings')
    }
  }
}
</script>
