<template>
  <div id="app">
    <!-- <Navbar></Navbar>
    <Breadcrumb></Breadcrumb> -->
    <div id="app-content-view">
      <transition
        mode="out-in"
        enter-active-class="animated fadeIn fast"
        leave-active-class="animated fadeOut fast"
      >
        <router-view/>
      </transition>
    </div>
    <!-- <Footer></Footer> -->
    <!-- Extras -->
    <transition
      mode="in-out"
      enter-active-class="animated fadeIn fast"
      leave-active-class="animated fadeOut fast"
    >
      <MainLoading v-if="system.showMainLoading"/><!-- Main loading -->
    </transition>
    <ErrorModal :v-model="system.showErrorModal"/><!-- Error modal -->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapState([
      'system'
    ])
  }
}
</script>

<style lang="scss">
  // Include main.scss to the main 'app' component (root)
  @import "~#styles/main";

  #app,
  #app-content-view {
    min-height: 100vh;
  }
</style>
