<template>
  <div>
    <transition
      mode="out-in"
      enter-active-class="animated fadeIn fast"
      leave-active-class="animated fadeOut fast"
    >
      <b-container v-if="breadcrumbs.length > 0" id="breadcrumb-container" class="bg-tertiary" fluid>
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      </b-container>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumb',
  computed: {
    breadcrumbs: function () {
      let built = []
      if (this.$route.meta.breadcrumb && this.$route.meta.breadcrumb.schema !== null) {
        // Get route meta
        const schema = this.$route.meta.breadcrumb.schema
        // Loop on array
        built = schema.reduce((array, current) => {
          // If find "[someroute]" -> Link to named route
          const re = /^\[(.*)\]$/
          if (re.test(current)) {
            const found = current.match(re)[1]
            const namedRoute = this.$router.getRoutes().find((route) => {
              return route.name === found
            })
            array.push({
              text: namedRoute.meta.breadcrumb.title(this),
              to: namedRoute.path
            })
          }
          // If find "<this>" -> title of this route
          if (current === '<this>') {
            array.push({
              text: this.$route.meta.breadcrumb.title(this)
            })
          }
          return array
        }, [])
      }
      return built
    }
  }
}
</script>

<style lang="scss">
#breadcrumb-container {
  // ..
}
</style>
