<template>
  <b-container id="footer" fluid>
    <b-row class="justify-content-center py-5 bg-tertiary">
        <b-col cols=2 class="py-5">
          <ul class="list-unstyled">
            <li><img src="../assets/img/logo.png" alt="logo" id="footer-logo"/></li>
          </ul>
        </b-col>
        <b-col cols=2 class="py-5">
          <p class="h2 mb-4">{{ $t('global.site') | capitalize }}</p>
          <ul class="list-unstyled">
            <li class="pb-3"><router-link to="/">{{ $t('views.Home.title') | capitalize }}</router-link></li>
            <li class="pb-3"><router-link to="/about">{{ $t('views.About.title') | capitalize }}</router-link></li>
            <li class="pb-3"><router-link to="/login">{{ $t('user.signIn') | capitalize }}</router-link></li>
          </ul>
        </b-col>
        <b-col cols=2 class="py-5">
          <p class="h2 mb-4">{{ $t('global.contact') | capitalize }}</p>
          <ul class="list-unstyled">
            <li class="pb-3">Twitter</li><!-- eslint-disable-line -->
            <li class="pb-3">Facebook</li><!-- eslint-disable-line -->
            <li class="pb-3">john@doe.test</li><!-- eslint-disable-line -->
          </ul>
        </b-col>
    </b-row>
    <b-row class="py-5">
      <b-col class="py-5">
        <p align="center">Made with ❤ by <a href="https://gitlab.com/herveperchec">Hervé PERCHEC</a></p><!-- eslint-disable-line -->
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#footer {
  #footer-logo {
    width: 150px;
    height: auto;
  }
}
</style>
