<template>
  <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand to="/" id="navbar-brand">
      <img src="../assets/img/logo.png" class="d-inline-block" alt="logo" id="navbar-logo">
      <span class="font-patron">{{ GLOBALS.__APP_NAME__ }}</span><!-- eslint-disable-line -->
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">{{ $t('views.Home.title') | capitalize }}</b-nav-item>
        <b-nav-item to="/about">{{ $t('views.About.title') | capitalize }}</b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item v-if="$root.auth.user().authenticated" to="/users">{{ $t('user.manageUsers') | capitalize }}</b-nav-item>
        <b-nav-item-dropdown v-if="$root.auth.user().authenticated" right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            {{ $root.auth.user().username }}
          </template>
          <b-dropdown-item :to="`/users/${$root.auth.user().id}`">{{ $t('user.profile') | capitalize }}</b-dropdown-item>
          <b-dropdown-item to="/settings">{{ $t('views.Settings.title') | capitalize }}</b-dropdown-item>
          <b-dropdown-item @click="$root.auth.logout()">{{ $t('user.logout') | capitalize }}</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-if="!$root.auth.user().authenticated && !$root.auth.isLoading()" to="/login">{{ $t('user.signIn') | capitalize }}</b-nav-item>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <flag :iso="isoFlagMap[$i18n.locale]" v-bind:squared=false /> {{ $i18n.locale | uppercase }}
          </template>
          <b-dropdown-item @click="$i18n.locale = 'en'"><flag iso="us" v-bind:squared=false /> English</b-dropdown-item>
          <b-dropdown-item @click="$i18n.locale = 'fr'"> <flag iso="fr" v-bind:squared=false /> Français</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  data () {
    return {
      isoFlagMap: {
        fr: 'fr',
        en: 'us'
      }
    }
  }
}
</script>

<style lang="scss">
#navbar-brand {
  #navbar-logo {
    width: 60px;
    height: auto;
    margin-top: -4px;
  }
}

.navbar-nav .nav-item {
  margin-top: -4px;
}
</style>
