<template>
  <div>
    <p
      class="h2 pb-2 mb-3"
      :aria-expanded="collapseStatus"
      :aria-controls="`collapse-${id}`"
      @click="collapseStatus = !collapseStatus"
      :style="`transition: 400ms all ease; cursor: pointer; border-bottom: 2px solid ${collapseStatus ? GLOBALS.__THEME_SECONDARY_COLOR__ : GLOBALS.__THEME_TERTIARY_COLOR__};`"
    >
      {{ title }} <v-icon :name="collapseStatus ? 'caret-up' : 'caret-down'" style="float: right; margin-top: 12px;"></v-icon>
    </p>
    <b-collapse :id="`collapse-${id}`" v-model="collapseStatus">
      <!-- @slot Collapse content -->
      <slot></slot>
    </b-collapse>
  </div>
</template>

<script>
export default {
  name: 'CustomCollapse',
  data () {
    return {
      collapseStatus: null
    }
  },
  props: {
    /**
     * collapse id
     */
    id: {
      type: String
    },
    /**
     * collapse title
     */
    title: {
      type: String
    },
    /**
     * collapse status
     */
    visible: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    this.collapseStatus = this.visible
  }
}
</script>
