<template>
  <!-- Button element -->
  <b-button
    v-ripple="rippleColor"
    :variant="computedVariant"
    :disabled="disabled"
    :inline="inline"
    :fluid="fluid"
    :size="size"
    :to="to"
  >
    <!-- Default slot: button content -->
    <div :class="'text-' + textAlign"><!-- dynamic class for text alignment -->
      <!-- @slot Button content -->
      <slot>
        {{ $t('global.ok') }}
      </slot>
    </div>
  </b-button>
</template>

<script>
import Color from 'color'

export default {
  name: 'CustomButton',
  props: {
    /**
     * Bootstrap variant for the button
     */
    variant: {
      type: String,
      default: 'secondary'
    },
    /**
     * Define text alignment
     */
    textAlign: {
      type: String,
      default: 'center'
    },
    /**
     * Define if button is disabled
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * Define if button is displayed as inline-block
     */
    inline: {
      type: Boolean,
      default: false
    },
    /**
     * Define if button must be full width
     */
    fluid: {
      type: Boolean,
      default: false
    },
    /**
     * Define the button size
     */
    size: {
      type: String,
      default: 'md'
    },
    /**
     * to (vue-router)
     */
    to: {
      type: String,
      default: null
    }
  },
  computed: {
    /**
     * Check disabled state to return variant
     */
    computedVariant: function () {
      if (this.disabled) {
        return 'secondary'
      } else {
        return this.variant
      }
    },
    /**
     * Generate ripple color based on this.computedVariant
     */
    rippleColor: function () {
      let rippleColor
      switch (this.computedVariant) {
        case 'primary':
          rippleColor = Color(__THEME_SECONDARY_COLOR__).lighten(0.8).rgb().alpha(0.4).string()
          break
        case 'secondary':
          rippleColor = Color(__THEME_TERTIARY_COLOR__).lighten(0.8).rgb().alpha(0.4).string()
          break
        case 'tertiary':
          rippleColor = Color(__THEME_SECONDARY_COLOR__).lighten(0.8).rgb().alpha(0.4).string()
          break
        default:
          rippleColor = 'rgba(255, 255, 255, 0.35)'
          break
      }
      return rippleColor
    }
  }
}
</script>
