/*

    Variables

*/

// Fonts
$patron-font: 'Patron';
$roboto-font: 'Roboto', sans-serif;

// Box shadow
$custom-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);

/* Overwrite bootstrap variables */

// Theme
$theme-colors: (
  "primary"   : $__THEME_PRIMARY_COLOR__,
  "secondary" : $__THEME_SECONDARY_COLOR__,
  "tertiary"  : $__THEME_TERTIARY_COLOR__,
  "green"     : $__THEME_GREEN_COLOR__,
  "error"     : $__THEME_ERROR_COLOR__,
  "warning"   : $__THEME_WARNING_COLOR__,
  "light"     : $__THEME_LIGHT_COLOR__,
  "dark"      : $__THEME_DARK_COLOR__,
  "grey"      : grey
);

// Body / global
$body-bg: $__THEME_LIGHT_COLOR__;
$body-color: $__THEME_TEXT_COLOR__;

// Font
$font-family-sans-serif: $roboto-font;
$font-size-base: 1rem !default;   // 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;              // $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875;              // $font-size-base * 0.875 !default;

// Borders
$border-radius-sm: 4px;
$border-radius: 6px;
$border-radius-lg: 8px;

// Input
$input-color: $__THEME_TEXT_COLOR__;
$input-bg: transparent;
$input-border-color: $__THEME_SECONDARY_COLOR__;

// Anchors
// $link-color: rgba(255, 255, 255, 0.5); // .navbar-dark color
// $link-decoration: none; // Default
// $link-hover-color: rgba(255, 255, 255, 0.75); // .navbar-dark color

// Breadcrumb
$breadcrumb-padding-y:              0.75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           0.5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $body-color;
$breadcrumb-active-color:           $body-color;
$breadcrumb-divider:                quote("/");
$breadcrumb-border-radius:          0;

// Dropdown
// $dropdown-bg:                       $__THEME_PRIMARY_COLOR__;
// $dropdown-border-color:             $__THEME_PRIMARY_COLOR__;
// $dropdown-link-color:               $link-color;
// $dropdown-link-hover-color:         $link-hover-color;
$dropdown-link-hover-bg:            $__THEME_TERTIARY_COLOR__;
$dropdown-box-shadow:               $custom-box-shadow;

/* Animate-sass override */

// By default, some sass mixins are deactivated
// Activate <class> where class is an Animate.css class name
// (see documentation https://github.com/tgdev/animate-sass)
$use-fade-in: true; // Activate all 'fadeIn*' classes
$use-fade-out: true; // Activate all 'fadeOut*' classes
