/*
  Main SCSS
*/

@import "_variables";

// Dependencies
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~animate-sass/_animate.scss';

/*   Fonts    */

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Patron";
  src: url("../assets/fonts/Patron/Patron.otf");
  font-weight: normal;
  font-style: normal;
}

/* Global */

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  overflow-y: scroll;
}

.font-patron {
  font-family: "Patron", sans-serif;
}

.shadow {
  -webkit-box-shadow: $custom-box-shadow;
  -moz-box-shadow: $custom-box-shadow;
  box-shadow: $custom-box-shadow;
  transition: 400ms all ease-in-out;
}

.shadow-hover:hover {
  @extend .shadow;
}

/* animate.css special classes */

/* -> because animate-sass is used */

/* Delay classes (100ms to 10s) */
@for $i from 100 through 10000 {
  .delay-#{$i}ms {
    animation-delay: ($i * 1ms);
  }
}

.fast {
  animation-duration: 0.5s;
}

.slow {
  animation-duration: 2s;
}

.slower {
  animation-duration: 3s;
}

// Bootstrap

.btn {
  border: none; // Remove all borders on buttons
}

.btn.disabled {
  pointer-events: none;

  @extend .text-grey;
}

// To remove focus & active shadow on buttons and input
.form-control:focus,
.form-control.focus,
.form-control.focus:active,
.form-control.active.focus,
.form-control.active:focus,
.form-control:active:focus,
.btn:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus,
.btn.active:focus,
.btn:active:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-tertiary:hover,
.btn-tertiary:focus {
  @extend .shadow;
}

.container {
  padding: 0;
}

.dropdown-menu {
  -webkit-box-shadow: $dropdown-box-shadow;
  -moz-box-shadow: $dropdown-box-shadow;
  box-shadow: $dropdown-box-shadow;
  border: none;
}

/* Keyframes */

@keyframes rolling {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
