<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.CreateUser.title') | capitalize }}</h1>
    </b-row>
    <b-row class="justify-content-center pb-5">

      <b-form class="pb-5">

        <!-- Username input -->
        <b-form-group
            id="input-group-username"
            :label="$h.capitalize($t('user.username'))"
            label-for="create-user-username"
            description="Veuillez entrer un nom d'utilisateur non-utilisé de 4 caractères minimum."
        >
          <b-form-input
            v-model="username"
            id="create-user-username"
            type="text"
            :state="usernameState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Password input -->
        <b-form-group
            id="input-group-password"
            label="Mot de passe"
            label-for="create-user-password"
            description="Le mot de passe doit avoir une longueur d'au moins 6 caractères et comporter au minimum: 1 lettre majuscule, 1 lettre minuscule et 1 chiffre."
        >
          <b-form-input
            v-model="password"
            id="create-user-password"
            type="password"
            :state="passwordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- Confirm password input -->
        <b-form-group
            id="input-group-confirm-password"
            label="Confirmer le mot de passe"
            label-for="create-user-password-confirm"
        >
          <b-form-input
            v-model="confirmPassword"
            id="create-user-password-confirm"
            type="password"
            :state="confirmPasswordState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- email input -->
        <b-form-group
            id="input-group-email"
            label="Adresse mail (facultatif)"
            label-for="create-user-email"
        >
          <b-form-input
            v-model="email"
            id="create-user-email"
            type="email"
            :state="emailState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Firstname input -->
        <b-form-group
            id="input-group-firstname"
            label="Prénom (facultatif)"
            label-for="create-user-firstname"
        >
          <b-form-input
            v-model="firstname"
            id="create-user-firstname"
            type="text"
            :state="firstnameState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Lastname input -->
        <b-form-group
            id="input-group-lastname"
            class="pb-3"
            label="Nom (facultatif)"
            label-for="create-user-lastname"
        >
          <b-form-input
            v-model="lastname"
            id="create-user-lastname"
            type="text"
            :state="lastnameState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Button -->
        <custom-button @click.native="handleOk()" :disabled="!isValid">{{ $t('global.create') | capitalize }}</custom-button>

      </b-form>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'CreateUser',
  components: {
    // **
  },
  data () {
    return {
      username: null,
      firstname: null,
      lastname: null,
      email: null,
      password: null,
      confirmPassword: null
    }
  },
  computed: {
    ...mapState('Users', [
      'users'
    ]),
    /**
     * usernameState
     * @return {boolean}
     */
    usernameState: function () {
      if (this.username && this.username.length > 3 && this.checkIfUserExists(this.username)) {
        return true
      } else {
        return false
      }
    },
    /**
     * passwordState
     * @return {boolean}
     */
    passwordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.password)
    },
    /**
     * confirmPasswordState
     * @return {boolean}
     */
    confirmPasswordState: function () {
      return this.passwordState && this.password === this.confirmPassword
    },
    /**
     * emailState
     * Nullable
     * @return {boolean|null}
     */
    emailState: function () {
      if (this.email === null || this.email.length === 0) {
        return null
      } else if (this.email && this.email.length > 0) {
        // eslint-disable-next-line
        const re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        return re.test(this.email)
      } else {
        return false
      }
    },
    /**
     * firstnameState
     * Nullable
     * @return {boolean|null}
     */
    firstnameState: function () {
      if (this.firstname === null || this.firstname.length === 0) {
        return null
      } else if (this.firstname && this.firstname.length > 0) {
        return true
      } else {
        return false
      }
    },
    /**
     * lastnameState
     * Nullable
     * @return {boolean|null}
     */
    lastnameState: function () {
      if (this.lastname === null || this.lastname.length === 0) {
        return null
      } else if (this.lastname && this.lastname.length > 0) {
        return true
      } else {
        return false
      }
    },
    /**
     * isValid
     * Check all required field state
     * @return {boolean}
     */
    isValid: function () {
      return this.usernameState && // required
        this.passwordState && // required
        this.confirmPasswordState && // required
        (this.emailState || this.emailState === null) && // nullable
        (this.firstnameState || this.firstnameState === null) && // nullable
        (this.lastnameState || this.lastnameState === null) // nullable
    }
  },
  methods: {
    ...mapActions('Users', [
      'createUser'
    ]),
    checkIfUserExists: function (username) {
      return !this.users.find(user => user.username === username)
    },
    /**
     * Handle click on 'confirm' submit button.
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      const response = await this.createUser({
        username: this.username,
        password: this.password,
        email: (this.email && this.email.length > 0) ? this.email : null,
        firstname: (this.firstname && this.firstname.length > 0) ? this.firstname : null,
        lastname: (this.lastname && this.lastname.length > 0) ? this.lastname : null
      })
      if (response instanceof Error) {
        return response
      } else {
        this.reset()
        this.$router.push('/users')
        return true
      }
    },
    cancel: function () {
      return true
    },
    reset: function () {
      this.username = null
      this.firstname = null
      this.lastname = null
      this.email = null
      this.password = null
      this.confirmPassword = null
    }
  }

}
</script>
