<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.EditUser.title') | capitalize }}</h1>
    </b-row>
    <b-row class="justify-content-center pb-5">

      <b-form class="pb-5">

        <!-- Thumbnail input -->
        <b-form-group
            id="input-group-thumbnail"
            label="Miniature"
            label-for="edit-user-thumbnail"
            description="Veuillez choisir une image (jpg/png) carrée (1:1)"
        >
          <div class="mb-3" id="thumbnail-container">
            <img v-if="thumbnailUrl.length > 0" :src="thumbnailUrl"/>
            <UserThumbnail :user="user" :width="250"/>
          </div>
          <b-form-file
            v-model="thumbnail"
            :state="Boolean(thumbnail)"
            id="edit-user-thumbnail"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
            class="mb-2"
          />
        </b-form-group>

        <!-- Username input -->
        <b-form-group
            id="input-group-username"
            label="Nom d'utilisateur"
            label-for="edit-user-username"
            description="Veuillez entrer un nom d'utilisateur non-utilisé de 4 caractères minimum."
        >
          <b-form-input
            v-model="username"
            id="edit-user-username"
            type="text"
            :state="usernameState"
            required
            class="mb-2"
          />
        </b-form-group>

        <!-- email input -->
        <b-form-group
            id="input-group-email"
            label="Adresse mail"
            label-for="edit-user-email"
        >
          <b-form-input
            v-model="email"
            id="edit-user-email"
            type="email"
            :state="emailState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Firstname input -->
        <b-form-group
            id="input-group-firstname"
            label="Prénom"
            label-for="edit-user-firstname"
        >
          <b-form-input
            v-model="firstname"
            id="edit-user-firstname"
            type="text"
            :state="firstnameState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Lastname input -->
        <b-form-group
            id="input-group-lastname"
            label="Nom"
            label-for="edit-user-lastname"
        >
          <b-form-input
            v-model="lastname"
            id="edit-user-lastname"
            type="text"
            :state="lastnameState"
            class="mb-2"
          />
        </b-form-group>

        <!-- Biography input -->
        <b-form-group
            id="input-group-biography"
            class="pb-3"
            label="Biographie"
            label-for="edit-user-biography"
        >
          <b-form-textarea
            v-model="biography"
            id="edit-user-biography"
            rows="10"
            max-rows="10"
            no-resize
          />
        </b-form-group>

        <!-- Button -->
        <custom-button @click.native="handleOk()" :disabled="!isValid">{{ $t('global.create') | capitalize }}</custom-button>

      </b-form>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import User from '@/models/User'
export default {
  name: 'EditUser',
  data () {
    return {
      user: new User(User.defaults()),
      id: null,
      prevUsername: null,
      username: null,
      firstname: null,
      lastname: null,
      email: null,
      biography: null,
      prevThumbnail: null,
      thumbnail: null
    }
  },
  computed: {
    ...mapState('Users', [
      'users'
    ]),
    ...mapGetters('Users', [
      'getUser'
    ]),
    /**
     * thumbnailUrl
     * @return {string}
     */
    thumbnailUrl: function () {
      if (this.thumbnail !== null && this.thumbnail instanceof File) {
        return URL.createObjectURL(this.thumbnail) // Transform blob to img src 'data' url
      } else {
        return ''
      }
    },
    /**
     * usernameState
     * @return {boolean}
     */
    usernameState: function () {
      const check = this.username !== this.prevUsername ? this.checkIfUserExists(this.username) : true
      if (this.username && this.username.length > 3 && check) {
        return true
      } else {
        return false
      }
    },
    /**
     * emailState
     * Nullable
     * @return {boolean|null}
     */
    emailState: function () {
      if (this.email === null || this.email.length === 0) {
        return null
      } else if (this.email && this.email.length > 0) {
        // eslint-disable-next-line
        const re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        return re.test(this.email)
      } else {
        return false
      }
    },
    /**
     * firstnameState
     * Nullable
     * @return {boolean|null}
     */
    firstnameState: function () {
      if (this.firstname === null || this.firstname.length === 0) {
        return null
      } else if (this.firstname && this.firstname.length > 0) {
        return true
      } else {
        return false
      }
    },
    /**
     * lastnameState
     * Nullable
     * @return {boolean|null}
     */
    lastnameState: function () {
      if (this.lastname === null || this.lastname.length === 0) {
        return null
      } else if (this.lastname && this.lastname.length > 0) {
        return true
      } else {
        return false
      }
    },
    isValid: function () {
      return this.usernameState && // required
        (this.emailState || this.emailState === null) && // nullable
        (this.firstnameState || this.firstnameState === null) && // nullable
        (this.lastnameState || this.lastnameState === null) // nullable
    }
  },
  methods: {
    ...mapActions('Users', [
      'updateUser',
      'updateUserThumbnail'
    ]),
    checkIfUserExists: function (username) {
      return !this.users.find(user => user.username === username)
    },
    /**
     * Handle click on 'confirm' submit button.
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      // Update user thumbnail
      const formData = new FormData()
      formData.append('thumbnail', this.thumbnail)
      const thumbnailResponse = await this.updateUserThumbnail({
        userId: this.id,
        data: formData
      })
      if (thumbnailResponse instanceof Error) {
        return thumbnailResponse
      }
      // Update standard user data
      const response = await this.updateUser({
        userId: this.id,
        data: {
          username: this.username,
          firstname: (this.firstname && this.firstname.length > 0) ? this.firstname : null,
          lastname: (this.lastname && this.lastname.length > 0) ? this.lastname : null,
          biography: (this.biography && this.biography.length > 0) ? this.biography : null,
          email: (this.email && this.email.length > 0) ? this.email : null
        }
      })
      if (response instanceof Error) {
        return response
      } else {
        this.$router.push('/users')
        return true
      }
    }
  },
  mounted () {
    const user = this.getUser(Number(this.$route.params.id))
    this.user = user
    if (user) {
      this.id = user.id
      this.prevUsername = user.username // To prevent username checking fail
      this.username = user.username
      this.firstname = user.firstname
      this.lastname = user.lastname
      this.email = user.email
      this.biography = user.biography
      this.prevThumbnail = user.thumbnail
    } else {
      this.$router.push({ name: '404' })
    }
  }

}
</script>

<style lang="scss">
#thumbnail-container {
  overflow: hidden;
  border-radius: 12px;
  width: 250px;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
