<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ $t('views.Users.title') | capitalize }}</h1>
    </b-row>
    <!-- Content -->
    <b-row class="justify-content-center">
      <b-col cols=6 class="pb-4">
        <custom-button variant="secondary" class="mb-4" to="/users/create">+ {{ $t('user.newUser') | capitalize }}</custom-button>
        <!-- Counter -->
        <p class="h5 mb-3"><strong>{{ users.length }}</strong> {{ $t('user.user.plural') }}</p>
        <!-- Users list -->
        <ul class="list-unstyled">
          <li v-for="user in users" :key="user.id" class="bg-tertiary p-2 mb-4 rounded-lg shadow-hover">
            <!-- Thumbnail -->
            <UserThumbnail :user="user" :width="54" class="list-user-thumbnail"></UserThumbnail>
            <!-- Username -->
            <router-link class="list-user-username h5 mb-0 ml-3" :to="`/users/${user.id}`">{{ user.username }}</router-link>
            <!-- Separator -->
            <p class="list-user-userdata-separator text-muted mb-0 ml-3"> - </p>
            <!-- Metas -->
            <!-- <p class="list-user-metas ml-3 mb-0 mt-1">
              <v-icon scale="1.2" name="brands/discord" :style="`color: ${user.discordPseudo ? '#5865F2' : '#888888'};`"/>
            </p> -->
            <!-- Edit button -->
            <custom-button variant="primary" class="list-user-editbutton" :to="`/users/${user.id}/edit`">
              <v-icon name="edit"/>
            </custom-button>
            <!-- Profile button -->
            <custom-button variant="primary" class="list-user-editbutton" :to="`/users/${user.id}`">
              <v-icon name="home"/>
            </custom-button>
          </li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Users',
  computed: {
    ...mapState('Users', [
      'users'
    ])
  }
}
</script>

<style lang="scss">
.list-user-thumbnail,
.list-user-username,
.list-user-userdata-separator,
.list-user-metas,
.list-user-editbutton {
  display: inline-block;
  vertical-align: middle;
}

.list-user-editbutton {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
</style>
