<template>
  <b-container fluid class="py-5">
    <!-- Title -->
    <b-row class="justify-content-center pb-4">
      <h1>{{ user.username }}</h1>
    </b-row>
    <b-row class="justify-content-center">
      <b-col cols=6 class="pb-4" id="user-container">
        <div class="user-thumbnail-container">
          <UserThumbnail :user="user" :width="250"/>
        </div>
        <div class="user-infos-container bg-tertiary ml-5 p-4 rounded">
          <ul class="list-unstyled">
            <!-- Username -->
            <li class="pb-3">
              {{ $t('user.username') | capitalize }}:
              <span class="ml-2 bg-secondary px-2 py-1 rounded-sm text-light">{{ user.username }}</span>
            </li>
            <!-- Email -->
            <li class="pb-3">
              {{ $t('user.email') | capitalize }}:
              <span class="ml-2 bg-secondary px-2 py-1 rounded-sm text-light">{{ user.email }}</span>
            </li>
            <!-- Firstname (nullable) -->
            <li class="pb-3">
              {{ $t('user.firstname') | capitalize }}:
              <span :class="`ml-2 bg-secondary px-2 py-1 rounded-sm ${user.firstname ? 'text-light' : 'text-grey'}`">{{ user.firstname || 'N/A' }}</span>
            </li>
            <!-- Lastname (nullable) -->
            <li class="pb-3">
              {{ $t('user.lastname') | capitalize }}:
              <span :class="`ml-2 bg-secondary px-2 py-1 rounded-sm ${user.lastname ? 'text-light' : 'text-grey'}`">{{ user.lastname || 'N/A' }}</span>
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Store from '@/store'
import { mapGetters } from 'vuex'

const userExists = function (id) {
  return Store.getters['Users/getUser'](id)
}

export default {
  name: 'UserProfile',
  computed: {
    ...mapGetters('Users', [
      'getUser'
    ]),
    user: function () {
      return this.getUser(Number(this.$route.params.id))
    }
  },
  beforeRouteEnter (to, from, next) {
    // does NOT have access to `this` component instance
    if (userExists(Number(to.params.id))) {
      next()
    } else {
      next({ name: '404' })
    }
  },
  beforeRouteUpdate (to, from, next) {
    // has access to `this` component instance.
    if (this.getUser(Number(to.params.id))) {
      next()
    } else {
      next({ name: '404' })
    }
  }
}
</script>

<style lang="scss">
#user-container {
  display: flex;

  .user-thumbnail-container,
  .user-infos-container {
    display: inline-block;
    vertical-align: top;
  }

  .user-infos-container {
    width: 100%;
  }
}
</style>
